.footer {
  padding-bottom: calc(50 * var(--width-multiplier));
  @media(max-width: 767px) {
    padding-bottom: calc(20 * var(--width-multiplier));
  }
  &__container {
    position: relative;
    padding: calc(24 * var(--width-multiplier)) calc(40 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    color: var(--white, $white);
    background-color: var(--dark, $dark);
    overflow: hidden;
    .line {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
    a:not(.footer__logo, .footer__social) {
      position: relative;
      transition: color 0.3s ease-out;
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 0;
        background-color: var(--primary, $primary);
        transition: width 0.3s ease-out;
      }
      &:hover {
        color: var(--primary, $primary);
        &::before {
          width: 100%;
        }
      }
    }
    @media(max-width: 767px) {
      padding: calc(16 * var(--width-multiplier));
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(96 * var(--width-multiplier));
    padding-bottom: calc(40 * var(--width-multiplier));
    margin-bottom: calc(40 * var(--width-multiplier));
    border-bottom: 1px solid #575757;
    line-height: 1;
    z-index: 1;
    @media(max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: calc(32 * var(--width-multiplier));
      padding-bottom: calc(24 * var(--width-multiplier));
      margin-bottom: calc(24 * var(--width-multiplier));
    }
  }
  &__logo {
    width: calc(300 * var(--width-multiplier));
    height: calc(128 * var(--width-multiplier));
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media(max-width: 767px) {
      grid-column: span 2;
      width: calc(119 * var(--width-multiplier));
      height: calc(51 * var(--width-multiplier));
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(96 * var(--width-multiplier));
    row-gap: calc(24 * var(--width-multiplier));
    margin-left: auto;
    @media(max-width: 767px) {
      grid-column: span 2;
      gap: 24px;
      margin-left: unset;
      margin-top: calc(-20 * var(--width-multiplier));
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: calc(24 * var(--width-multiplier));
    margin-right: auto;
    @media(max-width: 767px) {
      margin-right: unset;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: calc(18 * var(--width-multiplier));
  }
  &__social {
    display: block;
    width: calc(24 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    path {
      transition: fill 0.3s ease-out;
    }
    &:hover {
      path {
        fill: var(--primary, $primary);
      }
    }
  }
  &__copy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(16 * var(--width-multiplier));
    color: #ADADAD;
    z-index: 1;
  }
}