@import "fonts";
@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #1B1D1F;
  --grey: #F1F1F1;
  --primary: #7F6AFF;
  --primary-dark: #614ED5;
  --txt-dark: #2D2E30;
  --txt-light: #575757;
  --width-base: 1440;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(80 * var(--width-multiplier));
}

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--dark, $dark);
  background-color: var(--white, $white);
  font: 400 calc(16 * var(--width-multiplier))/1.4 Roboto;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  @media (max-width: 767px) {
    font-size: calc(14 * var(--width-multiplier));
  }
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus-visible {
  outline: none;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  width: 100%;
  padding: calc(18 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
  border: 1px solid var(--grey, $grey);
  border-radius: 0;
  color: var(--dark, $dark);
  background-color: var(--grey, $grey);
  font: inherit;
  &::placeholder {
    color: var(--dark, $dark);
  }
  &:focus, &:focus-visible {
    outline: none;
  }
  @media (max-width: 767px) {
    padding: calc(14 * var(--width-multiplier)) calc(18 * var(--width-multiplier));
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  -webkit-text-fill-color: var(--dark, $dark) !important;
  transition: background-color 9999s ease-in-out 0s;
}

textarea {
  resize: none;
  height: calc(90 * var(--width-multiplier));
}

.search {
  input:not([type="checkbox"]):not([type="radio"]) {
    padding: calc(20 * var(--width-multiplier));
    padding-right: calc(60 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    background: url(../img/search.svg) no-repeat top 50% right calc(20 * var(--width-multiplier));
    background-size: calc(24 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
    background-color: var(--grey, $grey);
    &::placeholder {
      color: #6F6F6F;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: calc(16 * var(--width-multiplier));
      width: calc(16 * var(--width-multiplier));
      background: url("../img/close.svg") center/contain no-repeat;
      cursor: pointer;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

// ====== Typography ======

h1, h2 {
  font: 700 calc(32 * var(--width-multiplier))/1.2 Roboto;
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h3 {
  font: 700 calc(24 * var(--width-multiplier))/1.2 Roboto;
  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier));
  }
}

h4 {
  font: 500 calc(20 * var(--width-multiplier))/1.2 Roboto;
  @media (max-width: 767px) {
    font-size: calc(18 * var(--width-multiplier));
  }
}

h5, h6 {
  font-family: inherit;
  line-height: 1.2em;
}